.form-container{
    padding: 4rem 6rem;
    color: #2a2a2a;
}
.form-container form{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.form-container input{
    height: 2rem;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}
.form-container textarea{
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}
.form-container button{
    display: inline;
}
.form-container p{
    padding-top: 1.5rem;
    text-align: center;
    color: green;
}

@media screen and (max-width:850px) {
    .form-container{
        padding: 4rem 2rem;
    }
    .form-container form{
        padding-top: 1rem;
        width: 90%;
    }
}